
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: #0000ffa1;
}
.responsive {
    width: 70%;
    height: auto;
    float: left;
    margin: 10px;
}
h1 {
    font-family: 'Playfair Display', serif;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: lemonchiffon;
}.principal{
    width: 70%;
    float: left;
    background-color:white;
    margin: 10px;
    
}
.principal2{
    float: left;
    background-color:white;
    margin: 10px;
    margin-top: 0px;
    padding: 40px;
    padding-bottom: 775px;
    font-size: x-large;
    width: 60%;
}
p {
    justify-content: right;
}
#menu {
    margin: 10px;
    margin-top: 0px;
    padding: 40px;
    padding-bottom: 748px;
   float:left;
   width: 20%;
   background-color: hsl(115, 100%, 50%);
   font-size:x-large;
}
#boton{
    font-size: xx-large;
}
    